html {
	font-size: 10px;
}

/**Class for content**/
.wraper {
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 1300px;
	padding: 0 50px 0 50px;
}

/** HEADER **/
header {
	position: relative;
	min-height: 1064px;
	background: rgb(0, 0, 0);
}

.background-image {
	background-image: url("../img/Header-BG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header .color-overlay {
	width: 100%;
	background: rgba(0, 0, 0, 0.83);
}

/**Header menu**/
nav.menu {
	width: 100%;
	box-sizing: border-box;
	margin: 0 1px 0 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

nav.menu ul.float-container {
	float: right;
	padding-top: 34px;
	width: 70%;
}

nav.menu li {
	float: right;
	margin: 2px 3px 0 7.8%;

	padding-bottom: 32px;
}

nav.menu li:hover {
	cursor: pointer;
}

nav.menu li:hover::after {
	position: relative;
	top: 34px;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
}

nav.menu a {
	text-decoration: none;
	color: #ffffff;
	font-family: "Lato Medium", "Arial", sans-serif;
	font-size: 1.6rem;
}

nav.menu img {
	margin: 32px 0 26px 0;
	padding-left: 3px;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

/** Header Headings **/
header h1 {
	margin: 325px auto 6px auto;
	text-align: center;
	color: #ffffff;
	font-size: 7.2rem;
	font-family: "Myriad Pro Bold", "Arial", sans-serif;
}

header h2 {
	margin: 0 auto;
	padding: 0 1rem;
	text-align: center;
	color: #ffffff;
	font-size: 3.15rem;
	font-family: "Georgia Italic", "Arial", sans-serif;
	font-weight: normal;
	line-height: 4.7rem;
	letter-spacing: 0.02rem;
}

header h2:last-child {
	padding-bottom: 358px;
}

/** Header login-register navigation **/
section.login-register {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 121px;
	box-sizing: border-box;

	background-color: rgba(57, 208, 131, 0.83);
	cursor: pointer;
}

section.login-register .wraper {
	position: relative;
	top: -123px;
}

section.login-register div.wraper a {
	position: absolute;
	top: 2px;
	display: inline-block;
	width: 46.2%;
	text-align: center;
	vertical-align: middle;
	font-family: "Lato Bold", "Arial", sans-serif;
	font-size: 2.2rem;
	color: white;
	line-height: 120px;
	text-decoration: none;
}

section.login-register div.wraper a:first-child {
	left: 0;
	margin-left: 50px;
}

section.login-register div.wraper a:last-child {
	right: 0;
	margin-right: 50px;
}

section.login-register a.login ~ div.wraper a:first-child:hover,
section.login-register a.login:hover ~ div.wraper a:first-child,
section.login-register a.register:hover ~ div.wraper a:last-child,
section.login-register a.register ~ div.wraper a:last-child:hover {
	font-size: x-large;
}

section.login-register a.login {
	position: relative;
	top: 0;
	display: inline-block;
	width: 48.88%;
	height: 100%;
	background-color: rgba(32, 55, 71, 0.91);
}

section.login-register a.login::after {
	position: absolute;
	right: -28px;
	content: "";
	width: 0;
	height: 0;
	border-top: 120px solid rgba(32, 55, 71, 0.91);
	border-right: 28px solid transparent;
}

section.login-register a.register {
	float: right;
	width: 51.12%;
	height: 100%;
}

/** MAIN **/
main {
	background-color: #ffffff;
}

/** DOMAIN section **/
section.domain h3 {
	margin: 85px auto 0 auto;
	font-family: "Lato Heavy", "Arial", sans-serif;
	color: #383737;
	font-size: 2.4rem;
	font-weight: normal;
	text-align: center;
}

section.domain p {
	margin: 23px auto 0 auto;
	font-family: "Montserrat Ultra Light", "Arial", sans-serif;
	color: #a2a2a2;
	font-size: 1.6rem;
	text-align: center;
}

section.domain form {
	position: relative;
	width: 80%;
	max-width: 889px;
	height: 50px;
	margin: 48px auto 0 auto;
	box-sizing: border-box;
	display: table;

	border: 1px solid #d9d9d9;
	border-collapse: separate;
	border-spacing: 8px;
	font-size: 0;
}

section.domain form input:nth-child(1) {
	float: left;
	width: 7.5%;
	min-width: 52px;
	max-width: 63px;
	box-sizing: border-box;

	padding-left: 0.7rem;
	border: none;
	border-right: 1px solid #d9d9d9;
	background-color: #ffffff;

	vertical-align: middle;
	line-height: 30px;
	font-family: "Lato Regular", "Arial", sans-serif;
	font-size: 1.6rem;
	color: #cbcbcb;
}

section.domain form input:nth-child(2) {
	position: relative;
	width: 60%;
	max-width: 732px;

	box-sizing: border-box;
	border: none;

	padding-left: 1.6rem;
	vertical-align: middle;
	line-height: 30px;
	font-family: "Lato Semibold", "Arial", sans-serif;
	font-size: 1.5rem;
	color: #868686;
}

section.domain form select {
	position: relative;

	float: right;
	width: 78px;
	height: 32px;
	vertical-align: top;

	padding-left: 1.5rem;
	padding-bottom: 0.4rem;
	border: none;
	border-left: 1px solid #d9d9d9;

	font-family: "Lato Regular", "Arial", sans-serif;
	font-size: 1.6rem;
	color: #cbcbcb;
	cursor: pointer;
}

section.domain form::after {
	position: absolute;
	right: 1.5rem;
	bottom: 1.8rem;
	z-index: 2;
	font-family: "FontAwesome", "Arial", sans-serif;
	content: "\f107";
	font-size: 1.1rem;
	font-weight: bolder;
	color: #cbcbcbbf;
}

/** DOMAIN TABLE **/
section.domain .table-wraper {
	max-height: 288px;
	overflow: hidden;
	margin: 40px auto 91px auto;
	border: 1px solid #d9d9d9;
	width: 80%;
	max-width: 889px;
	box-sizing: border-box;
}

section.domain .table {
	display: table;
	width: 100%;
	max-width: 889px;
	box-sizing: border-box;
	table-layout: fixed;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	position: relative;
	width: 25%;
	height: 96px;
	text-align: center;
	vertical-align: middle;
	font-family: "Lato Regular", "Arial", sans-serif;
	font-size: 1.4rem;
	color: #cbcbcb;
}

.table-cell::before {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 2.93%;
	right: 2.93%;
	width: 94.14%;
	height: 1px;
	background-color: #d9d9d9;
}

.table-cell:first-child::before {
	width: 85.4%;
	right: 3.6%;
	left: 12%;
}

.table-cell:last-child::before {
	width: 82.4%;
	left: 3.2%;
}

.table-row:last-child .table-cell::before {
	display: none;
}

.table-cell::after {
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	bottom: 3px;
	width: 1px;
	height: 89px;
	background-color: #d9d9d9;
}

.table-row:first-child .table-cell::after {
	height: 74px;
	top: 17px;
	bottom: 6px;
}

.table-row:last-child .table-cell::after {
	height: 74px;
	top: 6px;
	bottom: 0;
}

.table-cell:last-child::after {
	display: none;
}
