html {
	font-size: 10px;
}

/**Class for content**/
.wraper {
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 1300px;
	padding: 0 50px 0 50px;
}

/** HEADER **/
header {
	position: relative;
	min-height: 1064px;
	background: rgb(0, 0, 0);
	margin-bottom:70px;
}

.background-image {
	background-image: url("../img/Header-BG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header .color-overlay {
	width: 100%;
	background: rgba(0, 0, 0, 0.83);
}

/**Header menu**/
nav.menu {
	width: 100%;
	box-sizing: border-box;
	margin: 0 1px 0 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

nav.menu ul.float-container {
	float: right;
	padding-top: 34px;
	width: 70%;
}

nav.menu li {
	float: right;
	margin: 2px 3px 0 7.8%;

	padding-bottom: 32px;
}

nav.menu li:hover {
	cursor: pointer;
}

nav.menu li:hover::after {
	position: relative;
	top: 34px;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
}

nav.menu a {
	text-decoration: none;
	color: #ffffff;
	font-family: "Lato Medium", "Arial", sans-serif;
	font-size: 1.6rem;
}

nav.menu img {
	margin: 32px 0 26px 0;
	padding-left: 3px;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

/** Header Headings **/
header h1 {
	margin: 325px auto 6px auto;
	text-align: center;
	color: #ffffff;
	font-size: 7.2rem;
	font-family: "Myriad Pro Bold", "Arial", sans-serif;
}

header h2 {
	margin: 0 auto;
	padding: 0 1rem;
	text-align: center;
	color: #ffffff;
	font-size: 3.15rem;
	font-family: "Georgia Italic", "Arial", sans-serif;
	font-weight: normal;
	line-height: 4.7rem;
	letter-spacing: 0.02rem;
}

header h2:last-child {
	padding-bottom: 358px;
}

/** Header login-register navigation **/
section.login-register {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 121px;
	box-sizing: border-box;

	background-color: rgba(57, 208, 131, 0.83);
	cursor: pointer;
}

section.login-register .wraper {
	position: relative;
	top: -123px;
}

section.login-register div.wraper a {
	position: absolute;
	top: 2px;
	display: inline-block;
	width: 46.2%;
	text-align: center;
	vertical-align: middle;
	font-family: "Lato Bold", "Arial", sans-serif;
	font-size: 2.2rem;
	color: white;
	line-height: 120px;
	text-decoration: none;
}

section.login-register div.wraper a:first-child {
	left: 0;
	margin-left: 50px;
}

section.login-register div.wraper a:last-child {
	right: 0;
	margin-right: 50px;
}

section.login-register a.login ~ div.wraper a:first-child:hover,
section.login-register a.login:hover ~ div.wraper a:first-child,
section.login-register a.register:hover ~ div.wraper a:last-child,
section.login-register a.register ~ div.wraper a:last-child:hover {
	font-size: x-large;
}

section.login-register a.login {
	position: relative;
	top: 0;
	display: inline-block;
	width: 48.88%;
	height: 100%;
	background-color: rgba(32, 55, 71, 0.91);
}

section.login-register a.login::after {
	position: absolute;
	right: -28px;
	content: "";
	width: 0;
	height: 0;
	border-top: 120px solid rgba(32, 55, 71, 0.91);
	border-right: 28px solid transparent;
}

section.login-register a.register {
	float: right;
	width: 51.12%;
	height: 100%;
}
